## Обучение с учителем

### Задание 1

In [130]:
import pandas as pd
import numpy as np

from sklearn.datasets import load_boston

In [131]:
boston = load_boston()

In [132]:
data = boston["data"]
data.shape

(506, 13)

In [133]:
target = boston["target"]
target[:4]

array([24. , 21.6, 34.7, 33.4])

In [134]:
feature_names = boston["feature_names"]
feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [135]:
X = pd.DataFrame(data, columns=feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [136]:
y = pd.DataFrame(target, columns=["price"])
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [137]:
from sklearn.model_selection import train_test_split

In [138]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [139]:
from sklearn.linear_model import LinearRegression

In [140]:
lr = LinearRegression()

##### Обучение модели:

In [141]:
lr.fit(X_train, y_train)

LinearRegression()

##### Предсказание (рабочая модель):

In [142]:
y_pred = lr.predict(X_test)
y_pred.shape

(152, 1)

##### Далее:

In [143]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
     "y_pred": y_pred.flatten()
})
check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [144]:
from sklearn.metrics import r2_score

In [145]:
r2_lr = r2_score(y_test, y_pred)

r2_lr

0.711226005748496

In [146]:
# Best possible score is 1.0

### Задание 2

In [147]:
from sklearn.ensemble import RandomForestRegressor

In [148]:
clf = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [149]:
clf.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [150]:
y_pred_clf = clf.predict(X_test)
check_test_clf = pd.DataFrame({
    "Y_test": y_test["price"], 
    "Y_pred_clf": y_pred_clf.flatten()})

check_test_clf.head()

     Y_test  Y_pred_clf
173    23.6   22.806412
274    32.4   31.131464
491    13.6   16.339125
72     22.8   23.810726
452    16.1   17.139521

In [151]:
r2_clf = r2_score(y_test, y_pred_clf)

r2_clf

0.87472606157312

In [152]:
print(f" Лин. регрессия: {r2_lr},\n Случайный лес:  {r2_clf}")

 Лин. регрессия: 0.711226005748496,
 Случайный лес:  0.87472606157312

In [153]:
# Случайный лес показывает лучший результат